/** Homepage styles **/
.hero-img {
	height: 30%;
	width: 100%;
}

.hero-text {
	background: #003681;
	color: #f4f5f7;
}

.orange-text {
	color: orange;
}

.card {
	border: none;
	color: #f4f5f7;
}

.card-footer {
	border: none;
}

.red {
	background: #de0037;
}

.red .btn {
	background: #890e2d;
	color: #f4f5f7;
}

.green {
	background: #3bc28a;
	color: #f4f5f7;
}

.green .btn {
	background: #27865f;
	color: #f4f5f7;
}

.orange {
	background: #ffb600;
}

.orange .btn {
	background: #ca9206;
	color: #f4f5f7;
}

.blue {
	background: #003681;
}

.blue .btn {
	background: #001c43;
	color: #f4f5f7;
}

.gray {
	background: #f4f5f7;
}

.footer {
	color: #f4f5f7;
	background-color: #1c1c1c;
}